ai/dify/01.add.unique.base.record.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: add.unique.base.record
kind: app
version: 0.1.0
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: code
        targetType: tool
      id: 1721553496302-source-1721553569221-target
      source: '1721553496302'
      sourceHandle: source
      target: '1721553569221'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1721553339152-source-1721553453188-target
      source: '1721553339152'
      sourceHandle: source
      target: '1721553453188'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1721553453188-source-1721553672406-target
      source: '1721553453188'
      sourceHandle: source
      target: '1721553672406'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1721553672406-source-1721553496302-target
      source: '1721553672406'
      sourceHandle: source
      target: '1721553496302'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1721553569221-source-1721553942293-target
      source: '1721553569221'
      sourceHandle: source
      target: '1721553942293'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: 1721553942293-source-1721553990412-target
      source: '1721553942293'
      sourceHandle: source
      target: '1721553990412'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 1721553990412-true-1721554018130-target
      source: '1721553990412'
      sourceHandle: 'true'
      target: '1721554018130'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1721553990412-false-1721554698214-target
      source: '1721553990412'
      sourceHandle: 'false'
      target: '1721554698214'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1721554018130-source-17215547618610-target
      source: '1721554018130'
      sourceHandle: source
      target: '17215547618610'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 17215547618610-source-1721554144317-target
      source: '17215547618610'
      sourceHandle: source
      target: '1721554144317'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1721554698214-source-1721554796463-target
      source: '1721554698214'
      sourceHandle: source
      target: '1721554796463'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: app_id
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: app_id
        - label: app_secret
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: app_secret
        - label: doc_table_url
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: doc_table_url
        - label: doc_field_name
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: doc_field_name
        - label: doc_field_value
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: doc_field_value
        - label: doc_record_json
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: doc_record_json
      height: 218
      id: '1721553339152'
      position:
        x: 30
        y: 309.5
      positionAbsolute:
        x: 30
        y: 309.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: feishu_base
        provider_name: feishu_base
        provider_type: builtin
        selected: false
        title: Get Tenant Access Token
        tool_configurations: {}
        tool_label: Get Tenant Access Token
        tool_name: get_tenant_access_token
        tool_parameters:
          app_id:
            type: mixed
            value: '{{#1721553339152.app_id#}}'
          app_secret:
            type: mixed
            value: '{{#1721553339152.app_secret#}}'
        type: tool
      height: 52
      id: '1721553453188'
      position:
        x: 334
        y: 309.5
      positionAbsolute:
        x: 334
        y: 309.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import re\n\ndef main(feishu_doc_url) -> dict:\n    match = re.search(r'base/([^?]+)\\\
          ?table=([^&]+)', feishu_doc_url)\n\n    if match:\n        app_token = match.group(1)\n\
          \        table_id = match.group(2)\n        return {\n            \"app_token\"\
          : app_token,\n            \"table_id\": table_id\n        }\n"
        code_language: python3
        desc: ''
        outputs:
          app_token:
            children: null
            type: string
          table_id:
            children: null
            type: string
        selected: false
        title: 'Code: extract app_token and table_id'
        type: code
        variables:
        - value_selector:
          - '1721553339152'
          - doc_table_url
          variable: doc_table_url
      height: 52
      id: '1721553496302'
      position:
        x: 942
        y: 309.5
      positionAbsolute:
        x: 942
        y: 309.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: feishu_base
        provider_name: feishu_base
        provider_type: builtin
        selected: false
        title: List Base Records
        tool_configurations: {}
        tool_label: List Base Records
        tool_name: list_base_records
        tool_parameters:
          Authorization:
            type: mixed
            value: '{{#1721553672406.tenant_access_token#}}'
          app_token:
            type: mixed
            value: '{{#1721553496302.app_token#}}'
          filter_condition:
            type: mixed
            value: '{"conjunction":"and","conditions":[{"field_name":"{{#1721553339152.doc_field_name#}}","operator":"is","value":["{{#1721553339152.doc_field_value#}}"]}]}'
          page_size:
            type: constant
            value: '10'
          page_token:
            type: mixed
            value: ''
          sort_condition:
            type: mixed
            value: ''
          table_id:
            type: mixed
            value: '{{#1721553496302.table_id#}}'
        type: tool
      height: 52
      id: '1721553569221'
      position:
        x: 1246
        y: 309.5
      positionAbsolute:
        x: 1246
        y: 309.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(text) -> dict:\n    data = json.loads(text)\n\
          \    return {\n        \"tenant_access_token\": data['tenant_access_token'],\n\
          \    }\n"
        code_language: python3
        desc: ''
        outputs:
          tenant_access_token:
            children: null
            type: string
        selected: false
        title: 'Code: tenant_access_token'
        type: code
        variables:
        - value_selector:
          - '1721553453188'
          - text
          variable: text
      height: 52
      id: '1721553672406'
      position:
        x: 638
        y: 309.5
      positionAbsolute:
        x: 638
        y: 309.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(text) -> dict:\n    obj = json.loads(text)\n\
          \    total = obj['data']['total']\n    return {\"total\": total }"
        code_language: python3
        desc: ''
        outputs:
          total:
            children: null
            type: number
        selected: false
        title: 'Code : get total'
        type: code
        variables:
        - value_selector:
          - '1721553569221'
          - text
          variable: text
      height: 52
      id: '1721553942293'
      position:
        x: 1550
        y: 309.5
      positionAbsolute:
        x: 1550
        y: 309.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 02285b49-b0be-428c-879f-efd7379189d9
            value: '0'
            varType: number
            variable_selector:
            - '1721553942293'
            - total
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 124
      id: '1721553990412'
      position:
        x: 1854
        y: 309.5
      positionAbsolute:
        x: 1854
        y: 309.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: feishu_base
        provider_name: feishu_base
        provider_type: builtin
        selected: false
        title: Add Base Record
        tool_configurations: {}
        tool_label: Add Base Record
        tool_name: add_base_record
        tool_parameters:
          Authorization:
            type: mixed
            value: '{{#1721553672406.tenant_access_token#}}'
          app_token:
            type: mixed
            value: '{{#1721553496302.app_token#}}'
          fields:
            type: mixed
            value: '{{#1721553339152.doc_record_json#}}'
          table_id:
            type: mixed
            value: '{{#1721553496302.table_id#}}'
        type: tool
      height: 52
      id: '1721554018130'
      position:
        x: 2158
        y: 309.5
      positionAbsolute:
        x: 2158
        y: 309.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '17215547618610'
          - add_count
          variable: add_count
        selected: false
        title: End
        type: end
      height: 88
      id: '1721554144317'
      position:
        x: 2766
        y: 309.5
      positionAbsolute:
        x: 2766
        y: 309.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "\ndef main() -> dict:\n    return {\n        \"add_count\": 0,\n  \
          \  }\n"
        code_language: python3
        desc: ''
        outputs:
          add_count:
            children: null
            type: number
        selected: true
        title: 'Code : add_count_0'
        type: code
        variables: []
      height: 52
      id: '1721554698214'
      position:
        x: 2158
        y: 420.5
      positionAbsolute:
        x: 2158
        y: 420.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "\ndef main() -> dict:\n    return {\n        \"add_count\": 1,\n  \
          \  }\n"
        code_language: python3
        desc: ''
        outputs:
          add_count:
            children: null
            type: number
        selected: false
        title: 'Code : add_count_1'
        type: code
        variables: []
      height: 52
      id: '17215547618610'
      position:
        x: 2462
        y: 309.5
      positionAbsolute:
        x: 2462
        y: 309.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1721554698214'
          - add_count
          variable: add_count
        selected: false
        title: End 2
        type: end
      height: 88
      id: '1721554796463'
      position:
        x: 2462
        y: 402.5
      positionAbsolute:
        x: 2462
        y: 402.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        author: lixianmin
        desc: ''
        height: 257
        selected: false
        showAuthor: true
        text: "{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":1,\"\
          mode\":\"normal\",\"style\":\"\",\"text\":\"\u529F\u80FD\u63CF\u8FF0\uFF1A\
          \",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\
          \",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":1},{\"\
          children\":[],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"\
          paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"detail\":0,\"\
          format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\u3000\u3000\u5411\
          \u6307\u5B9A\u7684\u591A\u7EF4\u8868\u4E2D\u63D2\u5165\u4E00\u6761\u5177\
          \u5907\u552F\u4E00\u6027\u7684\u8BB0\u5F55\uFF0C\u6309doc_field_name\u5217\
          \u8FC7\u6EE4\uFF0C\u8BE5field\u7684\u503C\u5177\u6709\u552F\u4E00\u6027\"\
          ,\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\"\
          ,\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"\
          children\":[],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"\
          paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"detail\":0,\"\
          format\":1,\"mode\":\"normal\",\"style\":\"\",\"text\":\"doc_record_json:\"\
          ,\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\"\
          ,\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":1},{\"\
          children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\"\
          ,\"text\":\"\u3000\u3000\u62E5\u6709\u5168\u91CF\u6570\u636E\u7684json\u5B57\
          \u7B26\u4E32\uFF0C\u6BD4\u5982\u591A\u7EF4\u8868\u7684fields\u540D\u4E3A\
          title, body\uFF0C\u5219\u4E00\u4E2A\u53EF\u80FD\u7684\u4F8B\u5B50\u662F\uFF1A\
          \",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\
          \",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"\
          children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\"\
          ,\"text\":\"\u3000\u3000{\\\"title\\\":\\\"\u6807\u9898\\\", \\\"body\\\"\
          :\\\"\u6B63\u6587\\\"}\",\"type\":\"text\",\"version\":1}],\"direction\"\
          :\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\"\
          :1,\"textFormat\":0}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"\
          type\":\"root\",\"version\":1}}"
        theme: blue
        title: ''
        type: ''
        width: 500
      height: 257
      id: '1721555862296'
      position:
        x: 30
        y: 598.4657997129045
      positionAbsolute:
        x: 30
        y: 598.4657997129045
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 500
    viewport:
      x: -2263.2412571036557
      y: -48.612021038319426
      zoom: 1.2187707886145744
