ai/dify/02.clear.empty.records.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: clear.empty.records
kind: app
version: 0.1.0
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1721634160452-source-1721634273148-target
      source: '1721634160452'
      sourceHandle: source
      target: '1721634273148'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: tool
      id: 1721634273148-source-1721634256912-target
      source: '1721634273148'
      sourceHandle: source
      target: '1721634256912'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1721634256912-source-1721634453541-target
      source: '1721634256912'
      sourceHandle: source
      target: '1721634453541'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1721634453541-source-1721634514052-target
      source: '1721634453541'
      sourceHandle: source
      target: '1721634514052'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: tool
      id: 1721634514052-source-1721634644127-target
      source: '1721634514052'
      sourceHandle: source
      target: '1721634644127'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1721634644127-source-1721635222519-target
      source: '1721634644127'
      sourceHandle: source
      target: '1721635222519'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: tool
      id: 1721635222519-source-1721635674829-target
      source: '1721635222519'
      sourceHandle: source
      target: '1721635674829'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: end
      id: 1721635674829-source-1721635622755-target
      source: '1721635674829'
      sourceHandle: source
      target: '1721635622755'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 52
      id: '1721634160452'
      position:
        x: 30
        y: 226
      positionAbsolute:
        x: 30
        y: 226
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: feishu_base
        provider_name: feishu_base
        provider_type: builtin
        selected: false
        title: Get Tenant Access Token
        tool_configurations: {}
        tool_label: Get Tenant Access Token
        tool_name: get_tenant_access_token
        tool_parameters:
          app_id:
            type: mixed
            value: '{{#1721634273148.app_id#}}'
          app_secret:
            type: mixed
            value: '{{#1721634273148.app_secret#}}'
        type: tool
      height: 52
      id: '1721634256912'
      position:
        x: 636
        y: 226
      positionAbsolute:
        x: 636
        y: 226
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "\ndef main() -> dict:\n    return {\n        \"app_id\": 'cli_a60ab0923f3dd00b',\n\
          \        \"app_secret\": 'WFLcLwZux2bWHvaWFtMcNgIC0XCLjKan',\n        \"\
          doc_table_url\":\"https://qx3zlgufe37.feishu.cn/base/KyJXbyDSHaf3posh7G8ci1tjnpf?table=tbl3m1Mv5tQ9QPeH&view=vew5BrGggB\"\
          ,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          app_id:
            children: null
            type: string
          app_secret:
            children: null
            type: string
          doc_table_url:
            children: null
            type: string
        selected: false
        title: 'Code: config'
        type: code
        variables: []
      height: 52
      id: '1721634273148'
      position:
        x: 333
        y: 226
      positionAbsolute:
        x: 333
        y: 226
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(text) -> dict:\n    data = json.loads(text)\n\
          \    return {\n        \"tenant_access_token\": data['tenant_access_token'],\n\
          \    }\n"
        code_language: python3
        desc: ''
        outputs:
          tenant_access_token:
            children: null
            type: string
        selected: false
        title: 'Code: tenant_access_token'
        type: code
        variables:
        - value_selector:
          - '1721634256912'
          - text
          variable: text
      height: 52
      id: '1721634453541'
      position:
        x: 939
        y: 226
      positionAbsolute:
        x: 939
        y: 226
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import re\n\ndef main(doc_table_url) -> dict:\n    match = re.search(r'base/([^?]+)\\\
          ?table=([^&]+)', doc_table_url)\n\n    if match:\n        app_token = match.group(1)\n\
          \        table_id = match.group(2)\n        return {\n            \"app_token\"\
          : app_token,\n            \"table_id\": table_id\n        }\n"
        code_language: python3
        desc: ''
        outputs:
          app_token:
            children: null
            type: string
          table_id:
            children: null
            type: string
        selected: false
        title: Code:extract app_token and table_id
        type: code
        variables:
        - value_selector:
          - '1721634273148'
          - doc_table_url
          variable: doc_table_url
      height: 52
      id: '1721634514052'
      position:
        x: 1242
        y: 226
      positionAbsolute:
        x: 1242
        y: 226
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: feishu_base
        provider_name: feishu_base
        provider_type: builtin
        selected: false
        title: List Base Records
        tool_configurations: {}
        tool_label: List Base Records
        tool_name: list_base_records
        tool_parameters:
          Authorization:
            type: mixed
            value: '{{#1721634453541.tenant_access_token#}}'
          app_token:
            type: mixed
            value: '{{#1721634514052.app_token#}}'
          filter_condition:
            type: mixed
            value: "{\"conjunction\":\"and\",\"conditions\":[{\"field_name\":\"Priority\"\
              ,\"operator\":\"is\",\"value\":[\"\u7A7A\"]}]}"
          page_size:
            type: constant
            value: '100'
          page_token:
            type: mixed
            value: ''
          sort_condition:
            type: mixed
            value: ''
          table_id:
            type: mixed
            value: '{{#1721634514052.table_id#}}'
        type: tool
      height: 52
      id: '1721634644127'
      position:
        x: 1545
        y: 226
      positionAbsolute:
        x: 1545
        y: 226
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(text) -> dict:\n    obj = json.loads(text)\n\
          \    items = obj['data']['items']\n    records = [item['record_id'] for\
          \ item in items]\n    record_ids = json.dumps(records)\n    return {\n \
          \       \"record_ids\": record_ids,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          record_ids:
            children: null
            type: string
        selected: false
        title: 'Code: get record ids'
        type: code
        variables:
        - value_selector:
          - '1721634644127'
          - text
          variable: text
      height: 52
      id: '1721635222519'
      position:
        x: 1799.5353094013667
        y: 226
      positionAbsolute:
        x: 1799.5353094013667
        y: 226
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs: []
        selected: false
        title: End
        type: end
      height: 52
      id: '1721635622755'
      position:
        x: 2402.7357551122473
        y: 226
      positionAbsolute:
        x: 2402.7357551122473
        y: 226
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: feishu_base
        provider_name: feishu_base
        provider_type: builtin
        selected: false
        title: Delete Base Records
        tool_configurations: {}
        tool_label: Delete Base Records
        tool_name: delete_base_records
        tool_parameters:
          Authorization:
            type: mixed
            value: '{{#1721634453541.tenant_access_token#}}'
          app_token:
            type: mixed
            value: '{{#1721634514052.app_token#}}'
          record_ids:
            type: mixed
            value: '{{#1721635222519.record_ids#}}'
          table_id:
            type: mixed
            value: '{{#1721634514052.table_id#}}'
        type: tool
      height: 52
      id: '1721635674829'
      position:
        x: 2083.1352497923554
        y: 226.96101939240077
      positionAbsolute:
        x: 2083.1352497923554
        y: 226.96101939240077
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -276.44200463240054
      y: 198.7185903992929
      zoom: 0.6265175496495816
